@using Newtonsoft.Json;
@inject IHttpContextAccessor Accessor

@*引用*@
@section Head{
    <link href="~/css/Homepage-Manufacturers.css" rel="stylesheet" asp-append-version="true">
    <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.min.css" />
}


<div class="FirmBackground">
	<section class="container">

		@*廠商簡介總覽*@
		<div class="row mx-0 my-4">

			@*廠商商標*@
			<div class="col-12 col-xl-3 py-2">
				<div class="row pe-xl-3">
					<div class="HomepageStatusBlock col-12 py-2 d-flex justify-content-center align-items-center border rounded bg-white shadow">
						<a asp-area="" asp-controller="Firmpage" asp-action="FirmData">
							<figure class="figure">
								<!-- ★★★★★需要廠商圖片★★★★★ -->
								<img src="@Model.PicturePath" class="figure-img img-fluid rounded" alt="ManufacturersLogo" id="ManufacturersLogo">
									@*Session處理*@
									@{
										string firmAccountName = Accessor.HttpContext?.Session.GetString("firmAccountName")!;
										if (firmAccountName is null)
										{
											<figcaption class="LogoContent figure-caption">歡迎回來!</figcaption>
										}
										else
										{
											<figcaption class="LogoContent figure-caption">歡迎回來!@firmAccountName</figcaption>	
										}
									}			
							</figure>
						</a>
					</div>
				</div>
			</div>

			@*營運簡報*@
			<div class="col-12 col-xl-9 py-2">
				<div class="row ps-xl-3">
					<div class="HomepageStatusBlock col-12 border rounded bg-white shadow">
						<div class="row d-flex flex-column">
							<div class="col-12 my-2">
								<span class="HomepageFirmStatusTitle fw-bold">
									賣場評價:
								</span>
								<span class="star star-lock">
									<input type="radio" name="rdStarLock" value="1" placeholder="星級評測" />
									<input type="radio" name="rdStarLock" value="2" placeholder="星級評測" />
									<input type="radio" name="rdStarLock" value="3" placeholder="星級評測" />
									<input type="radio" name="rdStarLock" value="4" placeholder="星級評測" />
									<input type="radio" name="rdStarLock" value="5" placeholder="星級評測" />
								</span>
								<span class="HomepageFirmStatusContent">(<span id="NumberOrder">999</span>)</span>
							</div>
							<div class="HomepageFirmStatusTitle fw-bold col-12 mt-2">當月表現:</div>
							<div class="col-12 my-3">
								<div class="row d-flex justify-content-around">
									<!-- ★★★★★需要廠商訂單數★★★★★ -->
									<div class="HomepageFirmStatusSubtitle col-12 col-xl-2 text-nowrap overflow-hidden">總訂單數:<span class="HomepageFirmStatusContent">@Model.ThisMonthOrdersTotal</span></div>
									<!-- ★★★★★需要廠商訂單數★★★★★ -->
									<div class="HomepageFirmStatusSubtitle col-12 col-xl-2 text-nowrap overflow-hidden">總寄件數:<span class="HomepageFirmStatusContent">@Model.ThisMonthShippedTotal</span></div>
									<!-- ★★★★★需要廠商訂單數★★★★★ -->
									<div class="HomepageFirmStatusSubtitle col-12 col-xl-2 text-nowrap overflow-hidden">未寄件數:<span class="HomepageFirmStatusContent">@Model.ThisMonthunShippedTotal</span></div>
									<!-- ★★★★★需要廠商訂單數★★★★★ -->
									<div class="HomepageFirmStatusSubtitle col-12 col-xl-4 text-nowrap overflow-hidden">總銷售額:<span class="HomepageFirmStatusContent">@Model.ThisMonthReveune</span></div>
								</div>
							</div>
							<div class="HomepageFirmStatusTitle fw-bold col-12">前月表現:</div>
							<div class="col-12 my-3">
								<div class="row d-flex justify-content-around">
									<!-- ★★★★★需要廠商訂單數★★★★★ -->
									<div class="HomepageFirmStatusSubtitle col-12 col-xl-2 text-nowrap overflow-hidden">總訂單數:<span class="HomepageFirmStatusContent">@Model.LastMonthOrdersTotal</span></div>
									<!-- ★★★★★需要廠商訂單數★★★★★ -->
									<div class="HomepageFirmStatusSubtitle col-12 col-xl-2 text-nowrap overflow-hidden">總寄件數:<span class="HomepageFirmStatusContent">@Model.LastMonthShippedTotal</span></div>
									<!-- ★★★★★需要廠商訂單數★★★★★ -->
									<div class="HomepageFirmStatusSubtitle col-12 col-xl-2 text-nowrap overflow-hidden">未寄件數:<span class="HomepageFirmStatusContent">@Model.LastMonthunShippedTotal</span></div>
									<!-- ★★★★★需要廠商訂單數★★★★★ -->
									<div class="HomepageFirmStatusSubtitle col-12 col-xl-4 text-nowrap overflow-hidden">總銷售額:<span class="HomepageFirmStatusContent">@Model.LastMonthReveune</span></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		@*未處理訂單*@
		<div class="row mx-0 border rounded my-4 bg-white shadow">
			<div class="HomgpageListblock col-12 py-2">
				<div class="HomepageFirmTitle m-1">未處理訂單</div>
				<hr>
				<form>
					<table class="HomepageTable table table-hover">
						<thead>
							<tr>
								<!-- ★★★★★需要廠商訂單數★★★★★ -->
								<th class="HomepageTableNumber" scope="col">#</th>
								<th scope="col" class="HomepageTableTitle">訂單成立日期</th>
								<th scope="col" class="HomepageTableTitle">訂單編號</th>
								<th scope="col" class="HomepageTableTitle">品項</th>
							</tr>
						</thead>
						<tbody>
							@{
								int i = 1;
								foreach (var WL in Model.WaitingList)
								{
									<tr>
										<th scope="row">@(i++)</th>
										<td class="HomepageTableData">@WL.OrderDate</td>
										<td class="HomepageTableData">@WL.OrderID</td>
										<td class="HomepageTableData">@WL.Products</td>
									</tr>
								}
							}
						</tbody>
					</table>
				</form>
			</div>
		</div>

		@*熱門區塊*@
		<div class="row mx-0 my-4">

			@*最近評論*@
			<div class="col-6 py-2">
				<div class="row pe-3">
					<div class="col-12 border rounded  bg-white shadow">
						<div class="HomgpageListblock row py-2">
							<div class="HomepageFirmTitle col-12 m-1">
								最近評論
							</div>
							<hr />
							<table class="HomepageTable table table-hover">
								<thead>
									<tr>
										<th scope="col" class="HomepageTableNumber">#</th>
										<th scope="col" class="HomepageTableTitle">日期</th>
										<th scope="col" class="HomepageTableTitle">內容</th>
									</tr>
								</thead>
								<tbody>
									@{
										int j = 1;
										foreach (var RC in Model.RecentlyComments)
										{
										<tr>
											<th class="HomepageTableNumber" scope="row">@(j++)</th>
											<td class="HomepageTableData">@RC.CommentDate</td>
											<td class="HomepageTableData">@RC.Content</td>
											</tr>
										}
									}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			@*最近熱賣*@
			<div class="col-6 py-2">
				<div class="row ps-3">
					<div class="col-12 border rounded  bg-white shadow">
						<div class="HomgpageListblock row py-2">
							<div class="HomepageFirmTitle col-12 m-1">
								近期熱賣
							</div>
							<hr />
							<table class="HomepageTable table table-hover">
								<thead>
									<tr>
										<th scope="col" class="HomepageTableNumber">#</th>
										<th scope="col" class="HomepageTableTitle">商品名</th>
										<th scope="col" class="HomepageTableTitle">數量</th>
									</tr>
								</thead>
								<tbody>
									@{
										int k = 1;
										foreach (var HS in Model.HotSale)
										{
											<tr>
												<th class="HomepageTableNumber" scope="row">@(k++)</th>
												<td class="HomepageTableData">@HS.ProductName</td>
												<td class="HomepageTableData">@HS.Quentity</td>
											</tr>											
										}
									}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>


@section Scripts{
    <script src="~/lib/sweetalert2/sweetalert2.js"></script>
    <script src="~/js/messageAlert.js"></script>
    <script src="~/js/Homepage-Manufacturers.js" asp-append-version="true"></script>

    @*帳號成功登入訊息*@
    @if (TempData["firmAccountLoginSuccessMessage"] != null)
    {
        <script>
            let firmAccountLoginSuccessMessage = @Html.Raw(JsonConvert.SerializeObject(TempData["firmAccountLoginSuccessMessage"]));
            showSwal('success', 'Login Status', firmAccountLoginSuccessMessage);
        </script>
    }


}
