@model GoSweet.Models.ViewModels.HomeIndexVm;
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Home Page";
    string? currentController = @ViewContext.RouteData.Values["controller"]!.ToString();
}

@section Head{
    <link rel="stylesheet" href="~/css/Home/productPopularRank.css" />
    <link rel="stylesheet" href="~/css/Home/processArticle.css" />
    <link rel="stylesheet" href="~/css/Home/popularGroupBuy.css" />
    <link rel="stylesheet" href="~/css/Home/news.css" />
    <link rel="stylesheet" href="~/css/Home/decoratorIcon.css" />
    <link rel="stylesheet" href="~/css/Home/feature.css" />

    @*third party*@
    <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.min.css" />
}


<div class="wrapper bg-white">
    @*landing page*@
    <section class="landpage container-fluid px-0">
        <img class="img-fluid w-100" src="~/img/Home/landpage.jpg" alt="landpage.jpg" />
    </section>


    @*商品熱銷排行 *@
    <section class="container product-hot-rank pb-3">
        <div class="product-category row mx-0">
            <div class="col-md-12">
                <div class=" text-center py-3">
                    <h2 class="display-6">商品熱銷排行</h2>
                    <p class="lead text-muted">Choose what category you want</p>
                </div>
            </div>

            @*商品排行種類*@
            <section class="splide splideCategory  border-top border-bottom">
                <div class="splide__track">
                    <ul class="splide__list">
                        @foreach (var item in Model.CategoryDatas!)
                        {
                            <li class="splide__slide">
                                <div class="text-center">
                                    @*<form method="post" asp-action="HandleProductCategory">*@
                                    <input type="hidden" class="productCategory" name="Category" value="@item.Category" />
                                    <button type="button" class="px-5 btn btn-hover-bg productCategoryBtn">
                                        <span class="product-category-title">@item.Category</span>
                                    </button>
                                    @*</form>*@
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </section>

            @*商品排行內容*@
            <div class="container product-rank px-3 ">
                <h2 class="text-muted py-2 product-rank-small-title">XX種類熱銷排行(下方滑鼠可左右拖曳)</h2>
                @*splide js*@
                <section class="splide splideProducts">
                    <div class="splide__track">
                        <ul class="splide__list">
                            @foreach (var item in Model.ProductRankDatas!)
                            {
                                <li class="splide__slide">
                                    <div class="splide__slide__container">
                                        <div class="product-rank-card card">
                                            <div class="position-relative">
                                                <div class="product-rank-hover-content d-flex">
                                                    @*TODO: fix get or post*@
                                                    <form method="get" class="m-auto" asp-controller="Search" asp-action="Product">
                                                        <input type="hidden" name="pid" value="@item.ProductId">
                                                        <button type="submit" class="btn btn-outline-light rounded-0 btnGo">GO >></button>
                                                    </form>
                                                </div>
                                                <img class="card-img-top" src="@item.ProductPicture" />
                                            </div>
                                            <div class="card-title mb-0 py-2 text-center product-card-title">
                                                @item.ProductName
                                            </div>
                                            <div class="card-body">
                                                <div class="text-center card-text multiline-ellipsis-3">
                                                    @item.ProductDescription
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                大約 @item.ProductTotalBuyNumber 人購買
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </section>

    @*熱門團購專區*@
    <section class="container popular-group-buy-section ">
        <div class="py-3">
            <h2 class="display-6 text-center">熱門團購專區</h2>
            <p class="lead text-center text-muted">Popular groupbuy section..</p>
        </div>
        <div class="popular-buy-content px-3">
            <div class="row">
                @foreach (var item in Model.ProductGroupBuyDatas!)
                {
                    <div class="col-md-6">
                        <div class="card mb-3 groupbuy-segment">
                            <div class="position-relative">
                                @*TODO: fix submit btn*@
                                <form method="get" asp-controller="Search" asp-action="SearchResultGroup">
                                    <input type="hidden" name="keyWord" value="@item.ProductName">
                                    <img src="@item.ProductPicture" class="card-img-top" alt="咕咕霍夫">
                                    <div class="groupbuy-segment-hover-content">
                                        <button type="submit" class="btn btn-outline-light rounded-0 px-5 center groupBuyGoBtn">GO >></button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="card-title mb-0 groupbuy-title">@item.ProductName</h5>
                                    <span class="badge text-bg-primary bg-mute-3">剩餘時間 @item.GroupRemainDate 天</span>
                                </div>
                                <div class="p-2">
                                    <p class="card-text multiline-ellipsis-3 lh-base indent-2">
                                        @item.ProductDescription
                                    </p>
                                </div>
                                <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="@item.GroupNowPeople" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-mute-3" style="width:@item.GroupPeoplePercent%"></div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p class="card-text"><small class="text-body-secondary">目前參與人數 @item.GroupNowPeople</small></p>
                                    <p class="groupbuy-progress-percent">@item.GroupPeoplePercent%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>



    @*最新消息*@
    <section class="container news-section py-3">
        <div class=" text-center py-3">
            <h2 class="display-6">最新消息</h2>
            <p class="lead text-muted">Watch news here...</p>
        </div>
        <div class="news-body px-3">
            <div class="row gy-3">
                <div class="col-md-4">
                    <div class="news-img-section">
                        <img class="rounded news-img" src="~/img/ProductUrl/咕咕霍夫.jpg" />
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="text-center py-2">
                        <h3 class="news-paragraph-title d-inline-block">
                            咕咕霍夫
                        </h3>
                        <span class="badge rounded-pill bg-mute-2 fs-6">新品</span>
                    </div>
                    <div class="news-paragraph-content  py-3 px-5">
                        <p class="lh-base">
                            咕咕霍夫（Kugelhopf）是一款來自歐洲的傳統甜點，源自奧地利和德國等地。
                            它是一種圓形或螺旋形的鬆軟麵包，以奶油、杏仁和水果為特色。咕咕霍夫的製作過程獨具匠心，使用特殊的烤模烘焙，讓其外表光滑、內部綿密。它散發著迷人的香氣，吃起來香甜醇厚，令人愛不釋口。無論是做為早餐的伴侶，或是下午茶時的美味點心，
                            咕咕霍夫都能為您帶來一份獨特的愉悅享受。讓咕咕霍夫成為您生活中的甜蜜驚喜，品味傳統的美味滋味。
                        </p>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class=" text-center py-2">
                        <h3 class="news-paragraph-title d-inline-block">
                            小熊泡芙
                        </h3>
                        <span class="badge rounded-pill bg-mute-2 fs-6">新品</span>
                    </div>
                    <div class="news-paragraph-content py-3 px-5">
                        <p class="lh-base">
                            小熊泡芙是一款可愛迷人的甜點，其外形如小熊造型，深受大眾喜愛。
                            它由鬆軟的泡芙皮包裹著香甜的內餡，內餡口味豐富多樣，可選擇巧克力、草莓、抹茶等口味，
                            每一口都令人驚艷。小熊泡芙以精湛的製作工藝和優質的食材而聞名，咬下一口，口感綿密滑順，讓人忍不住一口接一口。無論是單獨享用，還是搭配咖啡或茶，
                            小熊泡芙都能為您帶來甜蜜的美味時光。讓這可愛的小熊泡芙陪伴您，帶來無盡的味蕾享受和幸福感。
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="news-img-section ">
                        <img class="rounded  news-img" src="~/img/ProductUrl/小熊泡芙.jfif" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    @*GoSweet Feature*@
    @*    <section class="GoSweetFeature">
    <div class="container">
    <h2 class="display-6 text-center py-3">GoSweet 的特色</h2>
    <div class="row gy-3">
    <div class="col-md-6">
    <div class="card mx-auto">
    <div class="card-body shadow-sm">
    <h2 class="feature-title text-center">產品多元</h2>
    <p class="text-center feature-content">123</p>
    </div>
    </div>
    </div>
    <div class="col-md-6">
    <div class="card mx-auto">
    <div class="card-body shadow-sm">
    <h2 class="feature-title text-center">產品多元</h2>
    <p class="text-center feature-content">123</p>
    </div>
    </div>
    </div>
    <div class="col-md-6">
    <div class="card mx-auto">
    <div class="card-body shadow-sm">
    <h2 class="feature-title text-center">產品多元</h2>
    <p class="text-center feature-content">123</p>
    </div>
    </div>
    </div>
    <div class="col-md-6">
    <div class="card mx-auto">
    <div class="card-body shadow-sm">
    <h2 class="feature-title text-center">產品多元</h2>
    <p class="text-center feature-content">123</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>*@

    @*訂閱我們*@
    @*    <section class="subscription-us p-3">
    <div class="container">
    <div class="row">
    <div class="col-md-12 ">
    <div class="p-3">
    <h2 class="display-6">By Subscribing To Our Newsletter You can Get 30% Off</h2>
    <p class="mb-2">Details to details is what makes GoSweet different from the other themes.</p>
    <div class="row">
    <div class="col-md-5">
    <div class="input-group ">
    <input type="text" class="form-control" placeholder="Your Name">
    </div>
    </div>
    <div class="col-md-5">
    <div class="input-group ">
    <input type="text" class="form-control" placeholder="Your Email Address">
    </div>
    </div>
    <div class="col-md-2">
    <button type="button" class="btn  btn-outline-dark ms-2">
    <i class="bi bi-send-fill"></i>
    </button>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>*@

    @*關於我們*@
    @*    <section class="about-us bg-secondary">
    <div class="container-fluid ">
    <div class="about-us-content p-3  ">
    <div class="row">
    <div class="col-lg-6">
    <div class="left-content text-muted px-2">
    <div class="p-3">
    <h2 class="display-6">關於我們</h2>
    <span class="lh-base py-2">You are allowed to use this HexaShop HTML CSS template. You can feel free to modify or edit this layout. You can convert this template as any kind of ecommerce CMS theme as you wish.</span>
    <div class="lh-base quote py-2">
    <i class="fa fa-quote-left"></i><p>You are not allowed to redistribute this template ZIP file on any other website.</p>
    </div>
    <p class="lh-base py-2">There are 5 pages included in this HexaShop Template and we are providing it to you for absolutely free of charge at our TemplateMo website. There are web development costs for us.</p>
    <p class="lh-base py-2">If this template is beneficial for your website or business, please kindly <a rel="nofollow" href="https://paypal.me/templatemo" target="_blank">support us</a> a little via PayPal. Please also tell your friends about our great website. Thank you.</p>
    </div>
    <div class="main-border-button ps-3">
    <a class="btn btn-outline-light" href="products.html">Discover More</a>
    </div>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="right-content">
    <div class="row">
    <div class="col-lg-6">
    <div class="leather">
    <h4>Leather Bags</h4>
    <span>Latest Collection</span>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="first-image">
    <img src="https://picsum.photos/200/300" alt="">
    </div>
    </div>
    <div class="col-lg-6">
    <div class="second-image">
    <img src="https://picsum.photos/200/300" alt="">
    </div>
    </div>
    <div class="col-lg-6">
    <div class="types">
    <h4>Different Types</h4>
    <span>Over 304 Products</span>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>*@

    @*折線圖顧客與廠商*@
    @*    <section class="line_chart_customer_firm_product_section">
    <div id="lineChart_customer_firm_product"></div>
    </section>*@
</div>


@section Scripts{

    @*third party*@
    <script src="~/lib/sweetalert2/sweetalert2.js"></script>
    <script src="~/js/messageAlert.js"></script>
    <script src="~/lib/splidejs/splide-extension-grid/dist/js/splide-extension-grid.js"></script>

    @if (TempData["customerAccountLoginSuccessMessage"] != null)
    {
        <script>
            let customerAccountLoginSuccessMessage = @Html.Raw(JsonConvert.SerializeObject(TempData["customerAccountLoginSuccessMessage"]));
            showSwal('success', 'Login Success Status', customerAccountLoginSuccessMessage)
        </script>
    }


    @if (TempData["resetPasswordSuccessMessage"] != null)
    {
        <script>
            let resetPasswordSuccessMessage = @Html.Raw(JsonConvert.SerializeObject(TempData["resetPasswordSuccessMessage"]));
            showSwal('success', 'Reset Password Status', resetPasswordSuccessMessage);
        </script>
    }


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let splide = new Splide('.splideCategory', {
                mediaQuery: 'min',
                grid: false,
                breakpoints: {
                    800: {
                        grid: {
                            rows: 1,
                            cols: 4,
                            gap: {
                                col: '1.5rem',
                            },
                        },
                    },
                },
                type: 'loop',
                autoplay: 'pause',
                gap: '1rem',
                pagination: false,
                class: {
                    arrows: 'splide__arrows',
                    arrow: 'splide__arrow',
                    prev: 'splide__arrow--prev',
                    next: 'splide__arrow--next',
                },
                arrows: true,
            },
            )
            splide.mount(window.splide.Extensions);
        });
    </script>



    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let splide = new Splide('.splideProducts', {
                mediaQuery: 'min',
                grid: false,
                breakpoints: {
                    800: {
                        grid: {
                            rows: 2,
                            cols: 3,
                            gap: {
                                row: '2rem',
                                col: '1.5rem',
                            },
                        },
                    },
                },
                type: 'loop',
                autoplay: 'pause',
                gap: '1rem',
                pagination: false,
                arrows: false,
            },
            )
            splide.mount(window.splide.Extensions);
        });
    </script>

    <script src="~/lib/d3/d3.js"></script>
    <script src="~/js/Home/lineChartCustomerFirmProduct.js"></script>
    <script src="~/js/Home/productCategorySwitch.js"></script>
    }
