@using Newtonsoft.Json;
@model GoSweet.Models.ViewModels.CustomerAccountVm;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutLoginSignUp";
    string? currentController = @ViewContext.RouteData.Values["controller"]!.ToString();
}

@section Head{
    <link rel="stylesheet" href="~/css/Login/Login.css" />
    <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.min.css" />
    <script src="https://www.google.com/recaptcha/enterprise.js?onload=onloadCallback&render=explicit"
            async defer></script>
}

<div class="container-fluid px-0 position-relative ">
    <div class="row g-0 ">
        <div class="col-6">
            <img class="img-fluid vh-100 w-100" src="~/img/Login/登入頁面pic.jpg" alt="login pic" />
        </div>
        <div class="col-6  d-flex flex-column login-section ">
            <div class="login-form-section m-auto">
                <div class="form-title-box bg-mute-2 py-2 text-white rounded mb-2">
                    <h2 class="display-6">Login</h2>
                </div>
                <form class="login-form" method="post" asp-controller="@currentController" asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="py-2">
                        <label asp-for="CAccount" class="form-label">Email</label>
                        <input asp-for="CAccount" type="email" class="form-control" />
                        <span asp-validation-for="CAccount" class="text-danger"></span>
                    </div>
                    <div class="py-2">
                        <label asp-for="CPassword" class="form-label">Password</label>
                        <span role="button" class="ms-2 text-mute-3 fw-bolder text-decoration-underline " data-bs-toggle="modal" data-bs-target="#ForgetPasswordModal">Forget?</span>
                        <input asp-for="CPassword" type="password" class="form-control" />
                        <span asp-validation-for="CPassword" class="text-danger"></span>
                    </div>
                    <div class="mb-2" id="html_recaptcha" onclick="onClick" required></div>
                    @*<div class="mb-2">驗證</div>*@
                    <div class="row">
                        <div class="col-12 mb-2 mb-md-0 col-md-6">
                            <button type="submit" class="loginBtn w-100 btn btn-mute-2  text-dark">登入</button>
                        </div>
                        <div class="col-12 col-md-6">
                            <a asp-controller="Home" asp-action="SignUp" class="signUpBtn w-100 btn btn-mute-5  text-dark">
                                註冊
                            </a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="home-icon-section">
                <div class="d-flex justify-content-end">
                    <a class="home-icon me-3 mb-3 d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="Index">
                        <i class="bi bi-house-door-fill"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


@*@await Html.PartialAsync("~/Pages/Shared/_Login.cshtml")*@

@await Html.PartialAsync("~/Pages/Shared/_ForgetPasswordModal.cshtml");


@section Scripts{
    <script src="~/lib/sweetalert2/sweetalert2.js"></script>
    <script src="~/js/messageAlert.js"></script>
    <script src="~/js/EmailCheck.js"></script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    @*check account exist*@
    @if (TempData["customerAccountNotExistMessage"] != null)
    {
        <script>
            let customerAccountNotExistMessage = @Html.Raw(JsonConvert.SerializeObject(TempData["customerAccountNotExistMessage"]));
            showSwal('error', 'Oops...', customerAccountNotExistMessage);
        </script>
    }


    @*login success message*@
    @if (TempData["customerAccountLoginSuccessMessage"] != null)
    {
        <script>
            let customerAccountLoginSuccessMessage = @Html.Raw(JsonConvert.SerializeObject(TempData["customerAccountLoginSuccessMessage"]));
            showSwal('success', 'Login Status', customerAccountLoginSuccessMessage);
        </script>
    }


    @*Send Email Success Message*@
    @if (TempData["sendEmailSuccessMessage"] != null)
    {
        <script>
            let sendEmailSuccessMessage = @Html.Raw(JsonConvert.SerializeObject(TempData["sendEmailSuccessMessage"]));
            showSwal('success', 'SendEmail Status', sendEmailSuccessMessage);
        </script>
    }

    @*Send Email fail message*@
    @if (TempData["sendEmailFailMessage"] != null)
    {
        <script>
            let sendEmailFailMessage = @Html.Raw(JsonConvert.SerializeObject(TempData["sendEmailFailMessage"]));
            showSwal('error', 'SendEmail Status', sendEmailFailMessage);
        </script>
    }


    @*客戶註冊成功訊息*@
    @if (TempData["customerSignUpSuccessMessage"] != null)
    {
        <script>
            let customerSignUpSuccessMessage = @Html.Raw(JsonConvert.SerializeObject(TempData["customerSignUpSuccessMessage"]));
            showSwal('success', 'SignUp Status', customerSignUpSuccessMessage);
        </script>
    }


    <script type="text/javascript">
        var onloadCallback = function () {
            grecaptcha.enterprise.render('html_recaptcha', {
                'sitekey': '6LctgbwmAAAAAAAmQPkFBggpXJwfl8hfBhV0wYUr',
                'action': 'LOGIN'
            });

            let form_submit = document.querySelector(".login-form");
            // 表單寄出如果沒有勾 recaptcha 提示要勾
            form_submit.addEventListener("submit", function (e) {
                if (grecaptcha.enterprise.getResponse() === '') {
                    e.preventDefault();
                    alert("please check recaptcha");
                }
            });
        };
    </script>
};
