@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<link rel="stylesheet" href="~/css/Search/style_product.css">
<link rel="stylesheet" href="~/css/Search/style_star.css">
@*>>>>>>> 195119f07330c94481b2679caaf34884c95b95d6:GoSweet/GoSweet/Views/Product/Product.cshtml
*@
<div class="productData container pb-5">
	<div class="row d-flex">
		@*<div class="col-1"></div>*@
		<div class="col-lg-5 m-auto pt-4">
			<img src=@ViewBag.ProductData[0].ProductPic[0].PUrl style="width: 30rem;" id="imgMain">
			<br>
			<div class="d-flex">
				@{
					// -1 是為了要放介紹圖片
					for (int i = 0; i < (@ViewBag.ProductData[0].ProductPic.Count)-1; i++) {
						if (i == 0) {
							<img src=@ViewBag.ProductData[0].ProductPic[i].PUrl style="width: 5rem;" id="img1" class="imgBox openImg">
						} else {
							<img src=@ViewBag.ProductData[0].ProductPic[i].PUrl style="width: 5rem;" id="img1" class="imgBox">
						}
					}
				}
@*				<img src="~/images/cake1.jpg" style="width: 5rem;" id="img1" class="imgBox openImg">
				<img src="~/images/cake2.webp" style="width: 5rem;" id="img2" class="imgBox">
				<img src="~/images/cake3.jpg" style="width: 5rem;" id="img3" class="imgBox">*@
			</div>
		</div>
		<div class="col-7 pt-4 cakeData">
			<h1 style="text-align: center; font-size:40px">@ViewBag.ProductData[0].ProductData.PName</h1>
			<br>
			<p class="text-center" style="font-size: 22px;">
				@ViewBag.ProductData[0].ProductData.PDescribe
			</p>
			<p class="text-center" style="font-size: 22px;">
				價格 : @ViewBag.ProductData[0].ProductData.PPrice 元<br />
			</p>
			<p class="text-center" style="font-size: 22px;" id="GPrice">
				團購價格 : @ViewBag.GPrice 元
			</p>
			<p class="text-center">
				<label for="buyNum" style="font-size: 22px;"> 購買數量 : </label>
				<input type="number" id="buyNum" min="1" value="1" style="text-align:center">
			</p>
			<div class="d-flex justify-content-center evaluate">
				<div class="ratings">
					<div class="empty_star" style="font-size:28px">★★★★★</div>
					<div class="full_star" style="font-size:28px">★★★★★</div>
				</div>
				&nbsp;<span style="font-size:26px; line-height:28px">@ViewBag.ProductData[0].ProductOat</span>
			</div>
			<div class="d-flex justify-content-around">
				<a href="../BuyList/BuyList?pid=@ViewBag.ProductData[0].ProductData.PNumber&num=1" class="btn mt-3 buyBtn" id="buy">
					購買
				</a>
				@*<a href="#" class="btn mt-3 buyBtn" id="buyCart">
					加入購物車
				</a>*@
				<a href="../BuyList/BuyListGroup?pid=@ViewBag.ProductData[0].ProductData.PNumber&num=1" class="btn mt-3 buyBtn" id="group_buy">
					加入團購
				</a>
				@*<a href="#" class="btn mt-3 buyBtn" id="group_buy">
					加入團購
				</a>*@
			</div>
		</div>
		@*<div class="col-1"></div>*@
	</div>
	<div class=" mt-5 row">
		@*<div class="col-1"></div>*@
		<div class="col-12 product">
			<img src=@ViewBag.lastPic.PUrl alt="" style="width: 100%;" class="">
			<br />
			<p class="introduce">
				保存方式 : @ViewBag.ProductData[0].ProductData.PSaveway
			</p>
			<p class="introduce">
				保存期限 : @ViewBag.ProductData[0].ProductData.PSavedate
			</p>
			<p class="introduce">
				廠商 : @ViewBag.FirmData
			</p>
			<label class="mt-4">配送方式 : </label>
			<br>
			<span class="ms-5">7-11</span>
			<span class="ms-3">全家</span>
			<span class="ms-3">OK</span>
			<span class="ms-3">萊爾富</span>
			<br>
			<span class="ms-5">宅配 --黑貓</span>
			<span class="ms-3">宅配 --郵局</span>
			<br>
			<label class="mt-4">付款方式 : </label>
			<br>
			<span class="ms-5">信用卡</span>
			<span class="ms-3">貨到付款</span>
			<span class="ms-3">Line Pay</span>
		</div>
		@*<div class="col-1"></div>*@
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.7.0.slim.min.js"></script>
<script>
	//var aa = @ViewBag.ProductData[0].ProductOat
	//if(aa == undefined){
	//	aa=0
	//}
	//alert(aa)
	var aa = @((ViewBag.ProductData[0].ProductOat ?? 0).ToString());
	if (isNaN(aa)) {
		aa = 0;
	}

	$(".full_star").css("width", `${(aa / 5) * 100}%`)
	$(".evaluate span").text(parseFloat(aa).toFixed(1))
	$("#buyCart").click(() => {
		// alert('已加入購物車')
		Swal.fire('已加入購物車')
		
	})

	$(".imgBox").click(function () {
		$(this).addClass("openImg")
		$(this).siblings().removeClass("openImg")
		var aa = $(this).attr("src")
		$("#imgMain").prop("src", aa)
	})
	$("#buyNum").change(function () {
		var buyNum = $("#buyNum").val()
		$("#buy").prop("href", "../BuyList/BuyList?pid=@ViewBag.ProductData[0].ProductData.PNumber" + "&num=" + buyNum)
		$("#group_buy").prop("href", "../BuyList/BuyListGroup?pid=@ViewBag.ProductData[0].ProductData.PNumber" + "&num=" + buyNum)
	})

	$("#group_buy").click(function (event) {
		if (@ViewBag.GroupTF == 0){
			event.preventDefault()
			Swal.fire('此商品無法團購')
			}
	})

	var pp = parseInt(@ViewBag.GPrice)

	if(pp == 0){
		$("#GPrice").text("此商品無團購 !!")
	}
	//alert(pp)
	
</script>



@*</html>*@