@model GoSweet.Models.ProductDatatable

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ProductDatatable</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PSpec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PSpec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PDescribe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PDescribe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PSavedate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PSavedate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PSaveway)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PSaveway)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PInventory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PInventory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PShip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PShip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PPayment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PPayment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FNumberNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FNumberNavigation.FNumber)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PNumber" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
