@{


}
<script src="https://code.jquery.com/jquery-3.7.0.slim.min.js" integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE=" crossorigin="anonymous"></script>

<script>
    let olistnumber
    $(function () {
        //領貨確認後寫入db
        $('.getproduct').on('click', function () {
            console.log(parseInt($('#s_onumber').text()))
            console.log($('.shipget').eq(olistnumber).html())
            //觸發動態訂單
            getrow(olistnumber)

            //if (!($('.shipget').eq(olistnumber).html() == "確認取貨")) {
            //    console.log('未寄出或已取貨不寫入')
            //    return;
            //}

            //$('.o_status').eq(olistnumber).text('已結單')
            //$('.o_shipstatus').eq(olistnumber).text('已取貨')
            ////$('.shipget').eq(olistnumber).prop('disabled', true)
            //$('.shipget').eq(olistnumber).html("已取貨")

            ////獲得現在時間並排序好
            //const date = new Date();

            //let seconds = date.getSeconds();
            //let minutes = date.getMinutes();
            //let hours = date.getHours();
            //let day = date.getDate();
            //let month = date.getMonth() + 1;
            //let year = date.getFullYear();

            //// This arrangement can be altered based on how we want the date's format to appear.
            //let currentDate = `${month}-${day}-${year}`;

            //let onum = parseInt($('#s_onumber').text())
            //$.post('/Order_datatable/orderdone', { 'onumber': onum, "end": currentDate })
            //    .done(function (data) {
            //        console.log($('#s_onumber').text() + " onumber is done" + data);
            //    });
        })

        //取得訂單評分資料傳給db
        $('.save_assess').on('click', function () {

            let ocs = $('.ocs option').filter(':selected').val()

            console.log(parseInt($('#o_number').text()))
            $.post('/Order_datatable/setassess', {
                onumber: parseInt($('#o_number').text()),
                ocs: parseFloat(ocs),
                ocm: $('.ocm').val()
            }).done(function (data) {
                console.log(data);
            });
            $('.assess').eq(olistnumber).html("訂單詳細")
        })

        //排序觸發搜尋按鈕
        $('.orderby').change(function () {
            $(".searchorder").trigger("click");
        });





        //搜尋訂單按鈕事件
        $('.searchorder').on('click', function () {
            //搜尋訂單
            $.post('/Order_datatable/search_c', {
                start: $('.start').val(), 
                end: $('.end').val(),
                o_type: $('.o_type option').filter(':selected').text(),
                o_status: $('.o_status option').filter(':selected').text(),
                ship_status: $('.ship_status option').filter(':selected').text(),
                orderby: $('.orderby').val(),
                onumber: parseInt($('.s_onumber').val()),
                fname: $('.s_fname').val()
            })
                .done(function (data) {
                    console.log(data)
                    let data2 = JSON.parse(data)
                    let count = 0
                    $('.orderlist').empty()
                    $(data2).each(function () {
                        let item = this

                        //判斷團購直購
                        let x1

                        //判斷貨物狀態
                        let x2

                        //判斷團購狀態
                        let x3

                        if (item.otype) {
                            x1 = '<label for= "" style = "font-size: 28px;" class= "o_type" > 團購</label>'
                        }
                        else {
                            x1 = '<label for= "" style = "font-size: 28px;" class= "o_type" > 直購</label>'
                        }
                        //x2 = `<input type="button" class="btn btn-primary btn-lg shipget" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick = "shipget(${count},${item.onumber})" value="確認取貨"  >`
                        if (item.oshipstatus == "已寄出") {
                            x2 = `<input type="button" class="btn btn-primary btn-lg shipget" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick = "shipget(${count},${item.onumber})" value="確認取貨"  >`
                                

                        }
                        else if (item.oshipstatus == "未寄出") {
                            x2 = `<input type="button" class="btn btn-primary btn-lg shipget" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick = "shipget(${count},${item.onumber})" value="確認取貨" disabled >`

                        }
                        else {
                            x2 = `<input type="button" class="btn btn-primary btn-lg shipget" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick = "shipget(${count},${item.onumber})" value="${item.oshipstatus}"  >`

                        }

                        if (item.ostatus == "未成團"){
                            x3 = `<input type="button" class="btn btn-primary btn-lg "   value="未成團" disabled >`
                        }
                        else if (item.ostatus == "已成團") {
                            x3 = `<input type="button" class="btn btn-primary btn-lg "  onclick="gotobuy(${item.pnumber},${item.pbuy} )" value="我要結帳">`
                        }
                        else{
                            x3 = `<input type="button" class="btn btn-primary btn-lg assess" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="assess(${count},${item.onumber} )" value="我要評分">`
                        }

                        console.log(x1)
                        console.log(x2)
						$('.orderlist').append(`

                                        <div class="row getrow" style="margin: 20px;">
										<div class="col-3 mb-1">
                                                <a href=""><img src="${item.pic}" style="width: 100%;" class="o_ppic" alt=""></a>
                                                        <label for="" style="display: none;" class="o_place">${item.oplace}</label>
										</div>


										<div class="col-5 mb-1">


											<table style="height: 100%; width: 100%;">
												<tr style="height: 33%; text-align: center; vertical-align: middle;">
													<td style="vertical-align: middle;">
															<label for="" style="font-size: 28px;" class="o_fname">【${item.fname}】</label>
															<label for="" style="font-size: 28px;" class="o_pname">${item.pname}</label>
													</td>
												</tr>
												<tr style="height: 66%;">
													<td>
														<div class="row" style="height: 100%; ">
															<div class="col-6 mb-1">
																<table style="height: 100%; width: 100%; text-align: center">
																	<tr style="height: 50%;">
																		<td>
																			<label for="" style="font-size: 28px;">數量:</label>
																				<label for="" style="font-size: 28px;" class="o_pbuynumber">${item.pbuy} </label>
																		</td>
																	</tr>
																	<tr style="height: 50%;">
																		<td>
																				<label for="" style="font-size: 28px;" class="o_status">${item.ostatus} </label>
																		</td>
																	</tr>
																</table>
															</div>
															<div class="col-6 mb-1">
																<table style="height: 100%; text-align: center">

																	<tr style="height: 50%;">
																		<td>
																			<label for="" style="font-size: 28px;">種類：</label>
																			`+
                            `${x1}`
                            + `
						

																		</td>
																	</tr>
																	<tr style="height: 50%;">
																		<td>
                                                                                    <label for="" style="font-size: 28px;" class="o_shipstatus">${item.oshipstatus}</label>
																		</td>
																	</tr>
																</table>
															</div>
														</div>
													</td>
												</tr>
											</table>

										</div>

										<div class="col-4 mb-1">
											<table style="height: 100%;">
												<tr style="height: 33%; text-align: center">
													<td>
															<label for="" style="font-size: 24px;" class="o_starttime">下單日期：${item.ostart}</label>
													</td>
												</tr>
												<tr style="height: 66%;">
													<td>
														<div class="row" style="height: 100%; ">
															<div class="col-6 mb-1">
																<table style="height: 100%; width: 100%; text-align: center">
																	<tr style="height: 50%;">
																		<td>
																				<label for="" style="font-size: 48px; color: red;" class="o_pprice">$${item.oprice}</label>
																		</td>
																	</tr>
																	<tr style="height: 50%;">
																		<td>`+
																		`${x3}`			
																		+`</td>
																	</tr>
																</table>
															</div>
															<div class="col-6 mb-1">
																<table style="height: 100%; text-align: center">

																	<tr style="height: 50%;">
																		<td>
																				<a href="/Talk_datatable/talk_c" onclick="gotalk(${item.onumber})"><img src="/img/order/chat.png" style="width: 50%;" alt=""></a>
																		</td>
																	</tr>
																	<tr style="height: 50%;">
																		<td>
																		`+
                            `${x2}`
						
                             + `
																		</td>
																	</tr>
																</table>
															</div>
														</div>
													</td>
												</tr>
											</table>

										</div>

									</div>



							`)

						count++
                    })
                })
        })







    })



    //領貨確認後寫入db  for 動態訂單
    function getrow(olistnumber) {
        console.log($('.getrow').eq(olistnumber).find('.shipget').val())
        let ship = $('.getrow').eq(olistnumber).find('.shipget').val()
        console.log(ship)
        console.log(olistnumber)
        if (!(ship == "確認取貨")) {
            console.log('已寄出不寫入')
            return;
        }
        $('.getrow').eq(olistnumber).find('.o_shipstatus').text('已取貨')
        $('.getrow').eq(olistnumber).find('.shipget').val("已取貨")
        $('.getrow').eq(olistnumber).find('.o_status').text('已結單')
        console.log('寄出寫入')

        //獲得現在時間並排序好
        const date = new Date();

        let seconds = date.getSeconds();
        let minutes = date.getMinutes();
        let hours = date.getHours();
        let day = date.getDate();
        let month = date.getMonth() + 1;
        let year = date.getFullYear();

        // This arrangement can be altered based on how we want the date's format to appear.
        let currentDate = `${month}-${day}-${year}`;

        let onum = parseInt($('#s_onumber').text())
        $.post('/Order_datatable/orderdone', { 'onumber': onum, "end": currentDate })
            .done(function (data) {
                console.log($('#s_onumber').text() + " onumber is done" + data);
            });
    }


    // 動態訂單評分
    function assess(listnumber, onumber) {
        olistnumber = listnumber
        $('#o_number').text(onumber)
        $('#p_pic').attr('src', $('.o_ppic').eq(listnumber).attr('src'))
        $('#a_time').text($('.o_starttime').eq(listnumber).text())
        $('#f_name').text($('.o_fname').eq(listnumber).text())
        $('#p_name').text($('.o_pname').eq(listnumber).text())
        $('#p_price').text($('.o_pprice').eq(listnumber).text())
        //取得評分資料
        $.post('/Order_datatable/getassess', { 'onumber': onumber })
            .done(function (data) {
                if (!(data == "null")) {
                    let data2 = JSON.parse(data)
                    if (data2[0].ocs) {
                        $('.ocs option').each(function () {
                            if ($(this).val() == data2[0].ocs) {
                                console.log($(this).val())
                                $(this).attr('selected', 'selected')
                            }
                        })
                    } else {
                        $('.ocs option').filter(':selected').attr('selected', false)
                        $('.ofs option').eq(0).attr('selected', true)
                    }
                    if (data2[0].ocm) {
                        $('.ocm').val(data2[0].ocm)
                    } else {
                        $('.ocm').val(null)
                    }
                    if (data2[0].ofs) {
                        $('.ofs').text(data2[0].ofs)
                    } else {
                        $('.ofs').text('未評分')
                    }
                    if (data2[0].ofm) {
                        $('.ofm').val(data2[0].ofm)
                    } else {
                        $('.ofm').val(null)
                    }
                } else {
                    console.log('data is null')
                    $('.ocs option').filter(':selected').attr('selected', false)
                    $('.ocm').val(null)
                    $('.ofs').text('未評分')
                    $('.ofm').val(null)
                }


            });




    }

    // 動態取貨結單
    function shipget(listnumber, onumber) {
        olistnumber = listnumber
        $.post('/Order_datatable/getship', { onumber: onumber })
        .done(function(data){
            data2 = JSON.parse(data)
            $('#s_fname').text($('.o_fname').eq(listnumber).text())
            $('#s_pname').text($('.o_pname').eq(listnumber).text())
            $('#s_buynumber').text($('.o_pbuynumber').eq(listnumber).text())
            $('#s_onumber').text(onumber)
            $('#s_ship').text(data2[0].ship)
            $('#s_place').text($('.o_place').eq(listnumber).text())
        })

    }

    //廠商加入聊天室名單
    function gotalk(onumber) {
        $.post('/Order_datatable/gotalk', { onumber: onumber }).done(function (data) {
            console.log(data)
            //window.location.assign("/test3/index")
        })
    }

    //跳轉到結帳畫面
    function gotobuy(pnumber,buynumber){
        console.log("go to buy "+pnumber+buynumber)
        //$.get(`/Search/Product?pid=${pnumber}&num=${buynumber}`)
        window.location.replace(`/BuyList/BuyListgp?pid=${pnumber}&num=${buynumber}`)
    }



</script>
<style>
    td {
        vertical-align: middle;
    }
</style>

<body>
    <div class="container">
        <!-- 最外端分割 -->
        <div class="row">

            <div class="col-12">

                <div style="border: 1px solid #ccc; box-shadow: 0 0 10px #ddd; margin-top: 20px;">
                    <label style="font-size:40px ;margin-left: 40px;">訂單紀錄</label>
                </div>
                <!-- 搜尋列開始 -->
                <div style="margin-top: 20px; border: 1px solid #ccc; box-shadow: 0 0 10px #ddd;">
                    <div  style="margin: 30px;" >
                        <div class="row">
                            <div class="col-5">
                                <label for="" style="font-size: 28px;">搜尋日期：</label>
                                <input type="date" name="start" class="start">
                                <label for="" style="font-size: 28px;">到</label>
                                <input type="date" name="end" class="end">
                            </div>

                            <div class="col-3">
                                <label for="" style="font-size: 28px;">訂單狀態：</label>
                                <select class="form-select form-select-lg mb-3 o_status" style="width: 50%; display: inline-block;" name="o_status" id="">
                                    <option value="" selected>全部</option>
                                    <option value="">已下單</option>
                                    <option value="">已結單</option>
                                    <option value="">待成團</option>
                                    <option value="">已成團</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <label for="" style="font-size: 28px;">訂單類型：</label>
                                <select class="form-select form-select-lg mb-3 o_type" style="width: 50%; display: inline-block;" name="o_type" id="">
                                    <option value="" selected>全部</option>
                                    <option value="">直購</option>
                                    <option value="">團購</option>
                                </select>
                            </div>
                            <div class="col-1"></div>
                        </div>
                        <!-- 搜尋列分割 -->
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-4">
                                <label for="" style="font-size: 28px;">訂單編號：</label>
                                <input type="text" class="s_onumber" style="font-size: 24px; width:60%;">
                            </div>

                            <div class="col-4">
                                <label for="" style="font-size: 28px;">廠商名稱：</label>
                                <input type="text" class="s_fname" style="font-size: 24px; width:60%;">
                            </div>

                            <div class="col-4">
                                <label for="" style="font-size: 28px;">貨物狀態：</label>
                                <select class="form-select form-select-lg mb-3 ship_status" style="width: 40%; display: inline-block;" name="ship_status" id="">
                                    <option value="" selected>全部</option>
                                    <option value="">未寄出</option>
                                    <option value="">已寄出</option>
                                    <option value="">已取貨</option>
                                </select>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col-8"></div>

                            <div class="col-4">
                                <button  class="btn btn-primary btn-lg searchorder">搜尋訂單</button>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- 排序按鈕 -->
                <div class="row" style="margin-top: 20px; margin-left: 0px;">
                    <div class="col-4">
                    </div>
                    <div class="col-4">
                    </div>
                    <div class="col-4">
                        <label for="" style="font-size: 30px">排序：</label>
                        <select class="form-select form-select-lg mb-3 orderby" style="width: 50%; display: inline-block;" aria-label=".form-select-lg example">
                            <option value="1" selected>日期新到舊</option>
                            <option value="2">價格高到低</option>
                            <option value="3">價格低到高</option>
                        </select>
                    </div>
                </div>
                <!-- 外框設定 -->
                <div class="orderlist" style=" border: 1px solid #ccc; box-shadow: 0 0 10px #ddd; margin-bottom: 50px; min-height: 1800px;">
                    <!-- 商品列表 -->
                    @* viewbag 拿出訂單資料顯示 *@
                    @for (int count = 0; count < ViewBag.order.Count; count++)
                    {
                        var item = ViewBag.order[count];

                        <div class="row getrow" style="margin: 20px;">
                            <div class="col-3 mb-1">
                                <a href=""><img src="@item.pic" style="width: 100%;" class="o_ppic" alt=""></a>
                                @*<label for="" style="display: none;" class="o_ship">@item.oship</label>*@
                                <label for="" style="display: none;" class="o_place">@item.oplace</label>
                            </div>


                            <div class="col-5 mb-1">


                                <table style="height: 100%; width: 100%;">
                                    <tr style="height: 33%; text-align: center; vertical-align: middle;">
                                        <td style="vertical-align: middle;">
                                            <label for="" style="font-size: 28px;" class="o_fname">【@item.fname】</label>
                                            <label for="" style="font-size: 28px;" class="o_pname">@item.pname</label>
                                        </td>
                                    </tr>
                                    <tr style="height: 66%;">
                                        <td>
                                            <div class="row" style="height: 100%; ">
                                                <div class="col-6 mb-1">
                                                    <table style="height: 100%; width: 100%; text-align: center">
                                                        <tr style="height: 50%;">
                                                            <td>
                                                                <label for="" style="font-size: 28px;">數量:</label>
                                                                <label for="" style="font-size: 28px;" class="o_pbuynumber">@item.pbuy </label>
                                                            </td>
                                                        </tr>
                                                        <tr style="height: 50%;">
                                                            <td>
                                                                <label for="" style="font-size: 28px;" class="o_status">@item.ostatus</label>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="col-6 mb-1">
                                                    <table style="height: 100%; text-align: center">

                                                        <tr style="height: 50%;">
                                                            <td>
                                                                <label for="" style="font-size: 28px;">種類：</label>
                                                                @if (@item.otype)
                                                                {
                                                                    <label for="" style="font-size: 28px;" class="o_tyoe">團購</label>
                                                                }
                                                                else
                                                                {
                                                                    <label for="" style="font-size: 28px;" class="o_tyoe">直購</label>
                                                                }
                                                            </td>
                                                        </tr>
                                                        <tr style="height: 50%;">
                                                            <td>
                                                                <label for="" style="font-size: 28px;" class="o_shipstatus">@item.oshipstatus</label>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>

                            </div>

                            <div class="col-4 mb-1">
                                <table style="height: 100%;">
                                    <tr style="height: 33%; text-align: center">
                                        <td>
                                            <label for="" style="font-size: 24px;" class="o_starttime">下單日期：@item.ostart</label>
                                        </td>
                                    </tr>
                                    <tr style="height: 66%;">
                                        <td>
                                            <div class="row" style="height: 100%; ">
                                                <div class="col-6 mb-1">
                                                    <table style="height: 100%; width: 100%; text-align: center">
                                                        <tr style="height: 50%;">
                                                            <td>
                                                                <label for="" style="font-size: 48px; color: red;" class="o_pprice">$@item.oprice</label>
                                                            </td>
                                                        </tr>
                                                        <tr style="height: 50%;">
                                                            <td>
                                                                @if (@item.ostatus == "未成團")
                                                                {
                                                                    <input type="button" class="btn btn-primary btn-lg " value="未成團" disabled>
                                                                }
                                                                else if (@item.ostatus == "已成團")
                                                                {
                                                                    <input type="button" class="btn btn-primary btn-lg "  onclick="gotobuy(@item.pnumber,@item.pbuy )" value="我要結帳">
                                                                }
                                                                else
                                                                {
                                                                    <input type="button" class="btn btn-primary btn-lg assess" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="assess(@count,@item.onumber )" value="我要評分">
                                                                }
                                                                
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="col-6 mb-1">
                                                    <table style="height: 100%; text-align: center">

                                                        <tr style="height: 50%;">
                                                            <td>
                                                                <a href="/Talk_datatable/talk_c" onclick="gotalk(@item.onumber)"><img src="/img/order/chat.png" style="width: 50%;" alt=""></a>
                                                            </td>
                                                        </tr>
                                                        <tr style="height: 50%;">
                                                            <td>
                                                                @if (@item.oshipstatus == "已寄出")
                                                                {

                                                                    <input type="button" class="btn btn-primary btn-lg shipget" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="shipget(@count,@item.onumber)" value="確認取貨">
                                                                    
                                                                }
                                                                else if (@item.oshipstatus == "未寄出")
                                                                {
                                                                    <input type="button" disabled class="btn btn-primary btn-lg shipget" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="shipget(@count,@item.onumber)" value="確認取貨">

                                                                }
                                                                else
                                                                {
                                                                    <input type="button" class="btn btn-primary btn-lg shipget" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="shipget(@count,@item.onumber)" value="@item.oshipstatus">

                                                                }
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>

                            </div>

                        </div>
                    }






                </div>


                <div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination pagination-lg justify-content-center">
                            <li class="page-item"><a class="page-link" href="#">上一頁</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">下一頁</a></li>
                        </ul>
                    </nav>
                </div>

            </div>

        </div>



        <!-- 訂單評分Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title" id="staticBackdropLabel">訂單詳細資料</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- 互動表單內容 -->
                        <!-- 允許使用bootstrap row 排版 -->
                        <div class="container-fluid">
                            <div class="mb-3">
                                <label for="" style="font-size: 30px;">訂單編號：</label>
                                <label for="" style="font-size: 30px;" id="o_number"></label>
                            </div>
                            <!-- 訂單資料顯示 -->
                            <div class="row">
                                <div class="col-4">
                                    <img src="" style="width: 100%;" alt="" id="p_pic">
                                </div>
                                <div class="col-8">
                                    <table style="height: 100%;">
                                        <tr style="height: 33%;">
                                            <td>
                                                <label for="" style="font-size: 28px;" id="a_time"></label>
                                            </td>
                                        </tr>
                                        <tr style="height: 33%;">
                                            <td>
                                                <label for="" style="font-size: 28px;" id="f_name"></label>
                                                <label for="" style="font-size: 28px;" id="p_name"></label>
                                            </td>
                                        </tr>
                                        <tr style="height: 33%;">
                                            <td>
                                                <label for="" style="font-size: 48px; color: red;" id="p_price"></label>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div>
                                <div style="text-align: center; margin-top: 30px;">
                                    <label for="" style="font-size: 36px;">客戶評分：</label>
                                    <select name="" id="myselect" class="form-select form-select-lg mb-3 ocs" style="width: 100px; display: inline-block;">
                                        <option value="5">5</option>
                                        <option value="4.5">4.5</option>
                                        <option value="4">4</option>
                                        <option value="3.5">3.5</option>
                                        <option value="3">3</option>
                                        <option value="2.5">2.5</option>
                                        <option value="2">2</option>
                                        <option value="1.5">1.5</option>
                                        <option value="1">1</option>
                                    </select>
                                    <label for="" style="font-size: 36px;">分</label>
                                </div>

                                <div style="text-align: center; margin-top: 30px; ">
                                    <label for="" style="font-size: 36px;">客戶評論：</label>
                                    <br>
                                    <textarea rows="4" style="width: 450px; font-size: 28px; resize: none;" class="ocm" placeholder="請輸入評論"></textarea>
                                </div>
                            </div>

                            <div>
                                <div style="text-align: center; margin-top: 30px;">
                                    <label for="" style="font-size: 36px;">廠商評分：</label>
                                    <label for="" style="font-size: 36px;" class="ofs">未評分</label>
                                </div>

                                <div style="text-align: center; margin-top: 30px; ">
                                    <label for="" style="font-size: 36px;">廠商評論：</label>
                                    <br>
                                    <textarea rows="4" style="width: 450px; font-size: 28px; resize: none;" class="ofm" disabled>無評論</textarea>
                                </div>
                            </div>


                        </div>



                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-lg save_assess" data-bs-dismiss="modal">儲存評分</button>
                        <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">離開</button>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- 確認領貨 Modal -->
    <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title " id="exampleModalLabel" style="font-size: 40px;">確認領貨</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- 內容填寫 -->
                    <div>
                        <div>
                            <label for="" style="font-size: 30px;">訂單編號：</label>
                            <label for="" style="font-size: 30px;" id="s_onumber"></label>
                        </div>
                        <div>
                            <label for="" style="font-size: 28px;" id="s_fname"></label>
                            <label for="" style="font-size: 28px;" id="s_pname"></label>
                        </div>
                        <div>
                            <label for="" style="font-size: 28px;">數量：</label>
                            <label for="" style="font-size: 28px;" id="s_buynumber">5</label>
                        </div>
                    </div>
                    <br>
                    <div>
                        <label for="" style="font-size: 20px;">運送方式：</label>
                        <label for="" style="font-size: 20px;" id="s_ship">ship</label>
                    </div>
                    <div>
                        <label for="" style="font-size: 20px;" id="s_place">地址</label>
                    </div>
                    <br>
                    <div>
                        <label for="" style="font-size: 20px;">已成功領到貨物的情況，<br>請按確認進行結單。</label>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-lg getproduct" data-bs-dismiss="modal">確認</button>
                    <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>



</body>
