@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>結帳頁面</title>
    <script src="https://code.jquery.com/jquery-3.7.0.slim.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/css/Search/style_buyList.css">
    <link rel="stylesheet" href="~/css/Search/style_star.css">

</head>
<body>*@
<script src="https://code.jquery.com/jquery-3.7.0.slim.min.js"></script>
<link rel="stylesheet" href="~/css/Search/style_buyList.css">
<link rel="stylesheet" href="~/css/Search/style_star.css">
<div class="container pt-5">
	<h1 class="text-center" style="font-size:40px">直接購買</h1>
	<div class="row d-flex productBox">
		<img src=@ViewBag.ProductData[0].ProductPic[0].PUrl alt="" class="m-md-auto m-lg-0 ps-5">
		<div class="col-8">
			<h2 class="text-center mt-3" style="font-size:32px">@ViewBag.ProductData[0].ProductData.PName</h2>
			<p class="text-center" style="font-size: 22px;">
				@ViewBag.ProductData[0].ProductData.PDescribe
			</p>
			<p class="text-center">購買數量 : <input type="number" id="buyNum" min="1" value="@ViewBag.buyNum" style="text-align:center"></p>
			<p class="text-center">價格 : @ViewBag.ProductData[0].ProductData.PPrice 元</p>
		</div>
	</div>
	<div class="m-auto mt-5 sendWay">
		<label>配送方式 : </label>
		<form action="" method="post">
			<input class="ms-3" type="radio" name="Delivery" id="sevenEleven" value="2" required> <label for="sevenEleven">7-11</label>
			<input class="ms-3" type="radio" name="Delivery" id="family" value="1" required> <label for="family">全家</label>
			<input class="ms-3" type="radio" name="Delivery" id="ok" value="3" required> <label for="ok">OK</label>
			<input class="ms-3" type="radio" name="Delivery" id="Hi_Life" value="4" required> <label for="Hi_Life">萊爾富</label>
			<br>
			<input class="ms-3" type="radio" name="Delivery" id="blackCat" value="5" required> <label for="blackCat">宅配 --黑貓</label>
			<input class="ms-3" type="radio" name="Delivery" id="post_office" value="6" required> <label for="post_office">宅配 --郵局</label>
			<br>
			<label>付款方式 : </label>
			<input class="ms-3" type="radio" name="Payment" id="credit" value="2" required> <label for="credit">信用卡</label>
			<input class="ms-3" type="radio" name="Payment" id="cod" value="1" required> <label for="cod">貨到付款</label>
			<input class="ms-3" type="radio" name="Payment" id="linePay" value="3" required> <label for="linePay">Line Pay</label>
			<input type="hidden" name="CNumber" value="10000" />
			<input type="hidden" name="FNumber" value="@ViewBag.ProductData[0].ProductData.FNumber" />
			<input type="hidden" name="PNumber" value="@ViewBag.ProductData[0].ProductData.PNumber" />
			<input id="buyNum2" type="hidden" name="OBuynumber" value="@ViewBag.buyNum" />
			<input id="OPrice" type="hidden" name="OPrice"/>
			<br />
			<label>地址 : </label>
			<input type="text" name="OPlace" style="border:solid,1px ,black" placeholder="請輸入地址" required />
			<div class="buyCheck d-flex justify-content-around" style="padding: 20px;">
		<input type="submit" href="" style="font-size: 30px;" id="checkBuy" value="結帳">
		<span class="mt-auto" style="font-size: 40px;">總價 : <span id="totalPrice" style="font-size: 40px;">1000</span> 元</span>
	</div>
	</form>
	</div>
</div>
<script>
	var x = @ViewBag.ProductData[0].ProductData.PPrice
	var y = $("#buyNum").val();
	$("#totalPrice").text(`${x * y}`);
	$("#OPrice").val(x * y);
	$("#buyNum").change(() => {
		x = @ViewBag.ProductData[0].ProductData.PPrice
		y = $("#buyNum").val();
		$("#buyNum2").val(y);
		$("#OPrice").val(x * y);
		$("#totalPrice").text(`${x * y}`);
	})

</script>